@media only screen and (min-width: 1020px) {
  #bottom_root {
    position: relative;
    bottom: 0;
    /* width: 100vw; */
    height: 200px;
    box-sizing: border-box;
    color: #737373;
    background-color: #fbfbfb;
    display: flex;
    align-items: center;
  }
  #footer {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 40px;
  }
  .top {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: -0.84px;
  }
  .top span {
    cursor: pointer;
  }
  .emphasis {
    font-weight: bold;
  }
  .bottom {
    display: flex;
    flex-direction: row;
    column-gap: 24px;
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: -0.56px;
  }
  address {
    font-style: inherit;
  }
  .number {
    cursor: pointer;
  }
  .rights {
    color: #bebebe;
    display: flex;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: -0.48px;
    margin: 0;
  }
  span a {
    color: inherit;
  }
  span a:visited {
    color: inherit;
  }
  span a:link {
    text-decoration: none;
  }
}
