#home_root {
  width: 100%;
  box-sizing: border-box;
  background-color: #ffffff;
}
#main_container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 64px 0 100px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}
.headText {
  color: #7c4dff;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -1.2px;
  margin: 0;
  margin-right: auto;
  margin-bottom: 16px;
}
.textArea {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.alignText {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.72px;
  color: #191919;
}
.searchInput {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.searchText {
  width: 273px;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.56px;
  color: #737373;
  caret-color: #737373;
  border: none;
  outline: none;
}
::-webkit-input-placeholder {
  color: #7c4dff;
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  width: 13px;
  height: 13px;
  background: url("../images/close.svg");
}
.searchIcon {
  width: 14px;
  height: 14px;
  margin-right: 10px;
}
.closeIcon {
  width: 8px;
  height: 8px;
  margin-left: 8px;
  stroke: #b2a5c3;
}
.listContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 53px;
  row-gap: 64px;
  margin-top: 32px;
}
.cardContainer {
  width: 280px;
  height: 414px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
.mainCard {
  width: 228px;
  height: 412px;
  border: 1px solid #737373;
  padding: 24px;
  box-sizing: border-box;
  border-radius: 6px;
}
.decoText1 {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  position: absolute;
  top: 12px;
  left: 6px;
  font-size: 6px;
  line-height: 6px;
  letter-spacing: -0.24px;
  color: #7c4dff;
}
.decoText2 {
  position: absolute;
  top: 6px;
  left: 6px;
  font-size: 6px;
  line-height: 6px;
  letter-spacing: -0.24px;
  color: #ac208e;
}
.photo {
  width: 180px;
  height: 250px;
  margin-bottom: 16px;
  /* 프로필 이미지 삽입 필요 */
  background-color: azure;
}
.detailContainer {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}
.details {
  display: flex;
  flex-direction: row;
}
.peopleIcon {
  width: 18px;
  height: 18px;
  fill: #737373;
}
.flag {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  /* 국기 이미지 삽입 필요 */
  background-color: pink;
}
.detailText {
  font-size: 14px;
  line-height: 14px;
  letter-spacing: -0.56px;
  color: #737373;
  margin-left: 7px;
}
.seeMoreText1 {
  font-size: 14px;
  line-height: 14px;
  letter-spacing: -0.56px;
  color: #ac208e;
  display: flex;
  align-items: center;
  margin-top: 5px;
  cursor: pointer;
}
.seeMoreText2 {
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: -0.56px;
  color: #7c4dff;
  position: relative;
  align-items: center;
  cursor: pointer;
}
.seeMoreText2:before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  width: 93px;
  height: 8px;
  background-color: rgba(124, 77, 255, 0.14);
}
.arrowIcon1 {
  width: 24px;
  height: 20px;
  stroke: #ac208e;
  transform: rotate(-90deg);
}
.arrowIcon2 {
  width: 24px;
  height: 20px;
  stroke: #7c4dff;
  transform: rotate(-90deg);
}
.sideCardImage {
  width: 44px;
  height: 414px;
  position: relative;
}
.name {
  position: absolute;
  writing-mode: vertical-rl;
  top: 24px;
  right: 12px;
  color: #737373;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -0.8px;
}
