@media only screen and (min-width: 1020px) {
  #home_root {
    /* width: 100vw; */
    box-sizing: border-box;
    background-color: #ffffff;
  }
  #main_container {
    max-width: 1360px;
    width: 100%;
    margin: 0 auto;
    padding: 64px 40px 100px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
  }
  .headText {
    color: #7c4dff;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: -1.2px;
    margin: 0;
    margin-right: auto;
    margin-bottom: 16px;
  }
  .textArea {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .alignText {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: -0.72px;
    color: #191919;
  }
  .searchInput {
    display: flex;
    align-items: center;
    position: relative;
  }
  .searchText {
    width: 273px;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: -0.56px;
    color: #737373;
    caret-color: #737373;
    border: none;
    outline: none;
  }
  ::-webkit-input-placeholder {
    color: #7c4dff;
  }
  input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    width: 13px;
    height: 13px;
    background: url("../images/close.svg");
  }
  .searchIcon {
    width: 14px;
    height: 14px;
    margin-right: 10px;
  }
  .closeIcon {
    width: 8px;
    height: 8px;
    margin-left: 8px;
    stroke: #b2a5c3;
  }
  .listContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 53px;
    row-gap: 64px;
    margin-top: 69px;
    justify-content: center;
  }
  .clearBtn {
    border:none;
    text-indent: -9999em;
    border-radius:50%;
    width:20px;
    height: 20px;
    position: absolute;
    right: 0;
  }
  .clearBtn::before {
    content: '';
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%) rotate(45deg);
    width: 13px;
    height: 1px;
    background-color: #737373;
  }
  .clearBtn::after {
    content: '';
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%) rotate(-45deg);
    width: 13px;
    height: 1px;
    background-color: #737373;
  }
}
