@media only screen and (min-width: 1660px) {
  .modalLayout {
    box-sizing: border-box;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 66.9vw;
    min-height: 612px;
    max-height: 90vh;
    background-color: #ffffff;
    overflow: auto;
    outline: none;
    padding: 40px 56px;
    border-radius: 6px;
    z-index: 1;
  }
  .modalContainer {
    display: flex;
    justify-content: space-between;
    column-gap: 56px;
  }
  .modalLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .modalRight {
    width: 100%;
  }
  .modalImgContainer {
    width: 180px;
    height: 250px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .modalImg {
    height: 100%;
  }
  .modalName {
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.54px;
    margin: 12px 0;
  }
  .modalDetails {
    display: flex;
    column-gap: 24px;
  }
  .modalDetail {
    display: flex;
    column-gap: 6px;
    align-items: center;
  }
  .modalFlag {
    display: flex;
    align-items: center;
  }
  .modalIcon {
    width: 18px;
    height: 18px;
    fill: #737373;
  }
  .modaltext {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: -0.56px;
    color: #737373;
  }
  .modalAmbition {
    width: 328px;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.42px;
    color: #737373;
    margin: 18px 0 40px;
  }
  .modalInfoContainer {
    width: 328px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  .modalInfo {
    display: flex;
    justify-content: space-between;
  }
  .modalsubjectText {
    width: 58px;
    text-align: left;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.42px;
    color: #7c4dff;
    word-break: keep-all;
  }
  .modaldetailText {
    width: 258px;
    text-align: left;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.42px;
    color: #737373;
  }
  .modalTextContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 18px;
  }
  .modalTitle {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.28px;
    word-break: keep-all;
  }
  .modalTitle span {
    color: #7c4dff;
  }
  .modalsubText {
    font-size: 18px;
    line-height: 18px;
    letter-spacing: -0.72px;
    display: flex;
    align-items: center;
    background: linear-gradient(to left, rgb(124, 77, 255), rgb(252, 110, 111));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    position: relative;
  }
  .modalsubText:before {
    content: "";
    position: absolute;
    width: 0;
    left: 0;
    bottom: -3px;
    height: 1px;
    background-color: #7c4dff;
    transition: 0.5s;
  }
  .modalsubText:hover:before {
    width: 100%;
  }
  .modalsubText a:visited {
    color: #7c4dff;
  }
  .modalImgsContainer {
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
    row-gap: 32px;
    justify-items: space-between;
  }
  .modalVideoPlayButton {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    border: none;
  }
  .modalImagesList {
    width: 8.1vw;
    height: 11.3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: black;
    position: relative;
  }
  /* 모달 백그라운드 투명도 */
  .ReactModal__Overlay {
    background-color: rgba(25, 25, 25, 0.3) !important;
    z-index: 5;
  }
}
