.cardContainer {
  width: 280px;
  height: 414px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
.mainCard {
  width: 228px;
  height: 412px;
  border: 1px solid #737373;
  padding: 24px;
  box-sizing: border-box;
  border-radius: 6px;
  -webkit-box-shadow: 3px 0 7px -1px rgba(25, 25, 25, 0.1);
  -moz-box-shadow: 3px 0 7px -1px rgba(25, 25, 25, 0.1);
  box-shadow: 3px 0 7px -1px rgba(25, 25, 25, 0.1);
}
.decoText1 {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  position: absolute;
  top: 12px;
  left: 6px;
  font-size: 6px;
  line-height: 6px;
  letter-spacing: -0.24px;
  color: #7c4dff;
}
.decoText2 {
  position: absolute;
  top: 6px;
  left: 6px;
  font-size: 6px;
  line-height: 6px;
  letter-spacing: -0.24px;
  color: #ac208e;
}
.photo {
  width: 180px;
  height: 250px;
  margin-bottom: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.profileImage {
  height: 100%;
  /* object-fit: cover; */
}
.detailContainer {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  position: relative;
  /* flex:1;
  justify-content:space-between */
}
.details {
  display: flex;
}
.peopleIcon {
  width: 18px;
  height: 18px;
  fill: #737373;
}
.detailText {
  font-size: 14px;
  line-height: 14px;
  letter-spacing: -0.56px;
  color: #737373;
  margin-left: 7px;
}
.seeMoreText1 {
  font-size: 14px;
  line-height: 14px;
  letter-spacing: -0.56px;
  color: #ac208e;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0;
  margin-top: 5px;
  float: left;
}
.seeMoreText2 {
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: -0.56px;
  color: #7c4dff;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0;
}
.seeMoreText2:before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  width: 93px;
  height: 8px;
  background-color: rgba(124, 77, 255, 0.14);
}
.arrowIcon1 {
  width: 24px;
  height: 20px;
  stroke: #ac208e;
  transform: rotate(-90deg);
  float: left;
}
.arrowIcon2 {
  width: 24px;
  height: 20px;
  stroke: #7c4dff;
  transform: rotate(-90deg);
}
.sideArea {
  position: relative;
  -webkit-box-shadow: 3px 0 7px -1px rgba(25, 25, 25, 0.1);
  -moz-box-shadow: 3px 0 7px -1px rgba(25, 25, 25, 0.1);
  box-shadow: 3px 0 7px -1px rgba(25, 25, 25, 0.1);
}
.sideCardLayout {
  cursor: pointer;
}
.sideCardImage {
  width: 44px;
  height: 414px;
  /* 기본 색상 */
  stroke: #737373;
  /* 1위 색상 */
  /* stroke: #c19b3f; */
  /* 2위 색상 */
  /* stroke: #696d72; */
  /* 3위 색상 */
  /* stroke: #a44a2a; */
  position: relative;
}
.name {
  position: absolute;
  writing-mode: vertical-rl;
  top: 24px;
  right: 9px;
  color: #737373;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -0.8px;
  display: flex;
  align-items: center;
  align-content: center;
}
.flag {
  margin-bottom: 5px;
  /* border-radius: 50%;
  overflow: hidden; */
}
.countryWrap {
  display: flex;
  align-items: center;
  gap: 8px;
}
.userCountry {
  flex: 1;
  white-space: "no-wrap";
  font-size: 20px;
}
