#top_root {
  width: 100%;
  box-sizing: border-box;
  background-color: #ffffff;
  color: #191919;
}
#header {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  height: 98px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.logoIcon {
  width: 234px;
  height: 50px;
}
.right {
  display: flex;
}
.nav {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -0.64px;
  column-gap: 40px;
  align-items: center;
}
.list {
  list-style: none;
}
.dropdown {
  width: 140px;
}
.css-1s2u09g-control {
  background-color: #ffffff !important;
  border: none !important;
}
.css-1okebmr-indicatorSeparator {
  display: none !important;
}
.css-14el2xx-placeholder {
  color: #191919 !important;
  cursor: pointer !important;
}
.css-tlfecz-indicatorContainer {
  color: #191919 !important;
}
.css-1gtu0rj-indicatorContainer {
  color: #191919 !important;
}
.css-qc6sy-singleValue {
  overflow: visible !important;
}
