@media (min-width: 500px) and (max-width: 784px) {
  #banner_root {
    width: 100vw;
    max-height: 40vw;
    min-height: 40vh;
    box-sizing: border-box;
    color: #191919;
    background-color: #f6f2ff;
    display: flex;
    align-items: center;
  }
  #banner_container {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1360px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    align-items: center;
  }
  .banner_left {
    margin-top: -50px;
  }
  .logoImg {
    width: 60%;
  }
  .banner_right {
    margin-top: -20px;
    max-width: 710px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }
  .banner_top_text {
    display: flex;
    justify-content: center;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #ad0081;
  }
  .banner_highlight {
    color: #2d2f92;
  }
  .banner_mid_text {
    display: none;
  }
  .banner_bottom_text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
  }
  .titleText {
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
    letter-spacing: -0.42px;
  }
  .bannerLink {
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-image: linear-gradient(#f6f2ff, #f6f1ff),
      linear-gradient(to left, rgb(124, 77, 255), rgb(252, 110, 111));
    background-origin: border-box;
    background-clip: content-box, border-box;
  }
  .subText {
    margin: 5px 12px 5px 16px;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: -0.64px;
    display: flex;
    align-items: center;
    align-self: center;
    background: linear-gradient(to left, rgb(124, 77, 255), rgb(252, 110, 111));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
  }
  .arrowMark {
    width: 9px;
    height: 12px;
  }
}
