@media only screen and (max-width: 1019px) {
  #bottom_root {
    position: relative;
    bottom: 0;
    width: 100vw;
    height: auto;
    box-sizing: border-box;
    color: #737373;
    background-color: #fbfbfb;
    padding-top: 30px;
  }
  #footer {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1280px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 0 40px;
  }
  .top {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: -0.56px;
  }
  .top span {
    cursor: pointer;
  }
  .emphasis {
    font-weight: bold;
  }
  .bottom {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: -0.56px;
  }
  address {
    font-style: inherit;
  }
  .number {
    cursor: pointer;
  }
  .rights {
    color: #bebebe;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: -0.32px;
    margin: 0;
    padding: 12px 0 24px;
  }
  span a {
    color: inherit;
  }
  span a:visited {
    color: inherit;
  }
  span a:link {
    text-decoration: none;
  }
}
