@media (min-width: 486px) and (max-width: 1019px) {
  #home_root {
    width: 100vw;
    box-sizing: border-box;
    background-color: #ffffff;
  }
  #main_container {
    max-width: 1360px;
    width: 100vw;
    margin: 0 auto;
    padding: 64px 40px 40px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
  }
  .headText {
    color: #7c4dff;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: -1.2px;
    margin: 0;
    margin-right: auto;
  }
  .textArea {
    display: flex;
    flex-direction: column;
  }
  .alignText {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: -0.72px;
    color: #191919;
    text-align: left;
    margin-bottom: 32px;
  }
  .searchInput {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .searchText {
    width: 273px;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: -0.56px;
    color: #737373;
    caret-color: #737373;
    border: none;
    outline: none;
  }
  ::-webkit-input-placeholder {
    color: #7c4dff;
  }
  .searchIcon {
    width: 14px;
    height: 14px;
    margin-right: 10px;
  }
  .closeIcon {
    width: 8px;
    height: 8px;
    margin-left: 8px;
    stroke: #b2a5c3;
  }
  .listContainer {
    display: flex;
    flex-wrap: wrap;
    column-gap: 15vw;
    row-gap: 90px;
    margin-top: 69px;
    justify-content: center;
  }
}
