@media only screen and (max-width: 485px) {
  #top_root {
    width: 100vw;
    box-sizing: border-box;
    background-color: #ffffff;
    color: #191919;
    position: sticky;
    top: 0;
    z-index: 5;
  }
  #header {
    box-sizing: border-box;
    max-width: 1360px;
    width: 100vw;
    margin: 0 auto;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 40px 10px;
  }
  .logoIconLayout {
    max-width: 150px;
    max-height: 25px;
  }
  .logoIcon {
    max-width: 100%;
    min-width: 150px;
    height: auto;
  }
  .right {
    width: 100%;
    height: auto;
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
  }
  .nav {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: -0.64px;
    align-items: center;
    list-style: none;
    padding-top: 10px;
  }
  .nav li {
    position: relative;
  }
  .nav li:first-child {
    margin-right: 20px;
  }
  .nav li:after {
    content: "";
    position: absolute;
    width: 0;
    left: 0;
    bottom: -3px;
    height: 1px;
    background-color: #191919;
    transition: 0.5s;
  }
  .nav li:hover:after {
    width: 100%;
  }
  .nav a {
    word-break: keep-all;
  }
  .nav a:visited {
    color: inherit;
  }
  .nav a:link {
    text-decoration: none;
  }
  .dropdown {
    width: 100px;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: -0.64px;
    word-break: keep-all;
  }
  /* 언어 설정 드롭다운 */
  .css-1s2u09g-control {
    background-color: #ffffff !important;
    border: none !important;
    cursor: pointer !important;
    margin-right: 0 !important;
  }
  .css-19skad5-control {
    background-color: #ffffff !important;
    border: none !important;
    cursor: pointer !important;
    margin-right: 0 !important;
    box-shadow: none !important;
  }
  .css-1okebmr-indicatorSeparator {
    display: none !important;
  }
  .css-14el2xx-placeholder {
    color: #191919 !important;
    cursor: pointer !important;
  }
  .css-tlfecz-indicatorContainer {
    color: #191919 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .css-1gtu0rj-indicatorContainer {
    color: #191919 !important;
  }
  .css-qc6sy-singleValue {
    overflow: visible !important;
  }
  .css-319lph-ValueContainer {
    padding-right: 0 !important;
  }
  /* 스크롤 시 생기는 그림자 */
  .shadow {
    -webkit-box-shadow: 0 5px 9px -2px rgba(25, 25, 25, 0.08);
    -moz-box-shadow: 0 5px 9px -2px rgba(25, 25, 25, 0.08);
    box-shadow: 0 5px 9px -2px rgba(25, 25, 25, 0.08);
  }
}
